<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{base_url}}/static/css/styles.css" rel="stylesheet" />
        <link href="{{base_url}}/static/css/gossling.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="wrapper flex-grow-1">

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">Governance of Open Source Software</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/challenges/">Challenges</a></li>
                        <li class="nav-item"><a class="nav-link" href="/resources/">Resources</a></li>
                        <li class="nav-item"><a class="nav-link" href="/community.html">Community</a></li>
                        <li class="nav-item"><a class="nav-link" href="/workshops.html">Workshops</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}


        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">All material on this site is covered by a 
                <a class="text-info" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.</p></div>
                <div class="container"><p class="m-0 text-center text-white">Contribute to this site 
                    <a class="text-info" href="https://github.com/shaunagm/Governance-of-Open-Source">on Github</a>.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{base_url}}/static/js/scripts.js"></script>

    
    </body>
</html>
