{% extends "base.html" %}

Challenge: {% block title %} Community {% endblock %}

{% block content %}

<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3">
                <div class="m-4 m-lg-5 text-center">
                    <h1 class="display-5 fw-bold">Coming soon!</h1>
                    <p>This is a new project and we are still figuring out our structure. If you'd like to contribute, please either email 
                        shaunagm@gmail.com and/or participate (leave a comment, open a PR, etc) in 
                        our <a href="https://github.com/GoverningOpen/governingopen.github.io/">Github repository</a>.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}