{% extends "base.html" %}

Challenge: {% block title %} Workshops {% endblock %}

{% block content %}

<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3">
                <div class="m-4 m-lg-5 text-center">
                    <h1 class="display-5 fw-bold pb-3">Need help with your governance?</h1>
                </div>
                <div class="m-4 m-lg-5 text-start">

                    <p>Shauna Gordon-McKeon, the maintainer of this site, provides consultations to open source projects and organizations
                    facing governance challenges. The first consultation is free — you can <a href="https://cal.com/shauna-gordon-mckeon/governance-consult">
                    sign up here</a>.</p>
                    
                    <p>Shauna also works with foundations, conferences, meetups and other open source organizations to provide governance resources to
                    their member projects. If you would like to host governance workshops or office hours to your members, please contact 
                    shaunagm@gmail.com. Pilot workshops have started in Spring 2023 and have taken place as part of PyCon and the Github Maintainer
                    Month. Why not in your community?</p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}