{% extends "base.html" %}

Challenge: {% block title %} Workshops {% endblock %}

{% block content %}

<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3">
                <div class="m-4 m-lg-5 text-center">
                    <h1 class="display-5 fw-bold pb-3">Need help with your governance?</h1>
                </div>
                <div class="m-4 m-lg-5 text-start">
                    <p>In addition to providing the resources on this website, we can offer consultations and ongoing advising to projects
                        facing governance challenges. Please reach out to shaunagm@gmail.com if you're part of a project that needs advice or 
                        if you are part of an umbrella organization that would like to provide help to your projects.</p>
                    <p> We also are piloting a workshop series that can be run at conferences and meetups, for example the pilot workshop was held at 
                        PyCon US 2023.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}