{% extends "base.html" %}

Challenge: {% block title %} Community {% endblock %}

{% block content %}

<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3">
                <div class="m-4 m-lg-5 text-center">
                    <h1 class="display-5 fw-bold pb-3">Get Involved</h1>
                    <p>Want to participate in our community? You can join our 
                    <a href="https://matrix.to/#/!vMlUdIiTlurpzHadvV:matrix.org?via=matrix.org&via=josh.tel">new Matrix space</a>
                    or participate (leave a comment, open a PR, etc) on our 
                    <a href="https://github.com/GoverningOpen/governingopen.github.io/">Github repository</a>.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}