{% extends "base.html" %}

{% block title %}Governance of Open Source Software: Home{% endblock %}

{% block content %}

        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-10">
                <div class="p-4 p-lg-10 bg-light rounded-3 text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="display-5 pt-3 fw-bold">Come learn about governance with us!</h1>
                            <img src="{{base_url}}static/assets/templogo.png" alt="Logo: a blue circle with three white inreaching hands.">
                            <p class="fs-4 pt-3">
                                We're collecting resources, guides, exercises, experiments, insights, wisdom and best practices on how to tackle
                                the governance challenges that open source projects face.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <a class="text-decoration-none text-black" href="{{base_url}}challenges/">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-info bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-exclamation-circle-fill"></i></div>
                                <h2 class="fs-4 fw-bold">Understand challenges</h2>
                                <p class="mb-0">Learn about the many governance challenges projects face.</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <a class="text-decoration-none text-black" href="{{base_url}}resources/">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-info bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-tools"></i></div>
                                <h2 class="fs-4 fw-bold">Browse our resources</h2>
                                <p class="mb-0">Check out our tools, exercises, stories, and more.</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <a class="text-decoration-none text-black" href="https://github.com/shaunagm/Governance-of-Open-Source">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-info bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-github"></i></div>
                                <h2 class="fs-4 fw-bold">Contribute</h2>
                                <p class="mb-0">Contribute ideas and resources via our Github repository.</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}